<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Iwasaku FC SnowTube Player</title>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  </head>

  <body>

      <h1>Iwasaku FC SnowTube Player</h1>

      <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
      </noscript>

      <div id="container">
      </div>

      <div id="footer">Made with ❤️🧡💛💚💙💜🖤🤍💖 by @sofutofu. Background snowflake by @cieloview.<br>
        Find IwaSaku FC on <a href="https://iwasakufc.livejournal.com">LiveJournal</a> and <a href="https://www.twitter.com/iwasakufcgirls">Twitter</a>. Please support Snow Man and <a href="https://www.youtube.com/j_snowman">subscribe to their channel</a>.<br>
        Major h/t to <a href="https://github.com/siloor">siloor</a> of <a href="http://siloor.github.io/youtube.external.subtitle/">youtube.external.subtitle</a> without whom this would not be possible.<br>
        We do not claim any ownership of the videos displayed on this site.
        Try our <a href="javascript:try{location.href = (location.href).replace('https://www.youtube.com/watch?v=','https://iwasaku.club/');}catch (e) {}">bookmarklet</a> on YouTube videos to check if we've subbed them! (<a href="https://support.mozilla.org/en-US/kb/bookmarklets-perform-common-web-page-tasks">install instructions</a>)
      </div>
  </body>

</html>